@model SalesTracker.Models.Sale

@{
    ViewData["Title"] = "Sale - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
      $(document).ready(function() {
                $('.new-sale').submit(function(event) {
			event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("NewSale")',
                        type: 'POST',
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (result) {
			console.log(result);
                            var resultMessage = 'You\'ve added a new sale to the database!<br>SaleId: ' + result.saleId + '<br>Description: ' + result.description + '<br>Price: ' + result.price;
                            $('#result').html(resultMessage);
                        }
			})
                });
            });
    </script>
    </head>
	
    @using (Html.BeginForm("NewSale", "Sale", FormMethod.Post, new { @class = "new-sale"}))
    {
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price)
    	@Html.DropDownList("SalesAssociateId")
        <input type="submit" value="Create" />
    }

	
<div id="result"></div>

@Html.ActionLink("Back to List", "Index")

